/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

ul,
ol {
  list-style-position: inside;
}

/* Remove list styles on ul, ol elements with a list role,
which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: 65ch;
  text-wrap: pretty;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
